html{
	background-size: 100% 100%;

	background-repeat: no-repeat;
	
}
.jumb{
	display: none;
}

.btn{
	
	margin-right: 30px;
	border-right: 30px;
	background-color: white;

}
h3{
	font-family: serif;
	font-weight: bold;
	color:white;
	font-size:20px;
}
h1{
	text-align:center;
	font-weight: bold;
	color:white;
}
#clock{
	text-align: center;
	opacity: 50;
	border:1px solid gray;
	font-weight:bold;
	font-size:25pt;
	color: white;
}

#display{
	size: 300px;

}
#start{
	background-color: none;
}
#startstoptimer{
	font-weight:bold;
}
.text-center{
	display: none;
}
.lol{
	opacity: .5;

}
