html{
	background-size: 100% 100%;
	background-image:center;
	background-repeat: no-repeat;
	
}
.lol{
	display: none;
}

button{

}
h3{
	font-family: serif;
	font-weight: bold;
	color:white;
	font-size:20px;
}
h1{
	text-align:center;
	font-weight: bold;
	color:white;
}
#clock{
	text-align: center;
	background-color:white;
	border:1px solid gray;
	font-weight:bold;
	font-size:14pt;
}

#display{
	size: 300px;

}
#start{
	background-color: none;
}
#startstoptimer{
	font-weight:bold;
}
.text-center{
	display: none;
}
p{
	opacity: 50%;

}